#game {
	height: 100vh;
}
.fight-player {
	align-items: flex-end;
}
.fight-container-img-player {
	justify-content: center;
	display: flex;
}
.fight-container-img-player img {
	width: 85%;
	transition: transform 1s linear;
}
.container-fight {
	align-self: center;
}
.fight-ground {
	height: 3px;
	background-color: black;
	box-shadow: 5px 5px 5px;
}
.fight-background {
	box-shadow: 0px 0px 20px 3px;
	border-bottom: solid 3px #352609b8;
	align-items: flex-end;
	padding: 55px;
}
.fight-container-vie {
	width: 100%;
}
.fight-container-info-player-vie {
	position: absolute;
	top: -61px;
	left: 10px;
}
.player-vie {
	position: absolute;
	top: 34px;
	width: 72px;
	text-align: center;
	color: #fff;
	font-size: 35px;
}
.translate-attack {
	transform: translateX(200px);
}
.translate-defence {
	transform: translateX(-200px);
}
.rotate3d {
	transform: rotate3d(1, 1, 1, 180deg);
}
.rotate {
	transform: rotate(360deg);
}
.rotateY {
	transform: rotateY(360deg);
}
.scale {
	transform: scale(0.2);
}
.rotateX {
	transform: rotateX(360deg);
}

.shew {
	transform: skew(40deg, 40deg);
}
.btn-fight {
	background-color: #e6c4a8;
	border: double 4px #ffffff;
	border-radius: 18px;
	padding: 3px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 15px;
	color: black;
	box-shadow: 2px 2px 2px 1px;
}
.form-control:disabled {
	background-color: #e6c4a8;
	opacity: 0.5;
}
