$path-image: "../../public/images/";

.zoom {
	transform: scale(1.3);
}

/////////////////////// infos players //////////////////////////
/////////////// général //////////////
.info-name {
	text-align: center;
	text-transform: uppercase;
	border: double 3px #733c06;
	background-color: #e6c4a8;
	border-radius: 15px;
	width: 100%;
	margin-bottom: 5px;
	color: #774e2c;
}
.info-player2-img {
	width: 100%;
	border-radius: 50%;
}
.info-player2-img-hero {
	padding: 25px;
	object-fit: cover;
}
.info-player2-img-armor {
	padding: 20px;
	object-fit: contain;
}
.info-player2-img-accessory {
	padding: 20px;
	object-fit: contain;
}
.background-cercle-player-hero {
	position: relative;
	background-image: url($path-image+"bordure.png");
	background-size: cover;
	border-radius: 50%;
	height: 100%;
	img {
		height: 100%;
	}
	.info-player2-img-armor {
		padding: 5px;
	}
}
/////////// current player ///////////
.container-info-player-vie {
	position: absolute;
	top: 0;
	left: 28px;
	#triangle-1 {
		width: 0;
		height: 0;
		border-left: 36px solid transparent;
		border-right: 36px solid transparent;
		border-bottom: 60px solid #723c10;
	}
	#triangle-2 {
		width: 0;
		height: 0;
		border-left: 36px solid transparent;
		border-right: 36px solid transparent;
		border-top: 60px solid #723c10;
	}
}
.info-player-vie {
	top: 35px;
	left: 47px;
	color: #fff;
	position: absolute;
	font-size: 32px;
	z-index: 10;
}
.cercle-hero {
	width: 100%;
}
.cercle-armor {
	width: 50%;
	position: relative;
	flex-shrink: 0;
}
.container-info-weapon {
	margin-top: 15px;
	position: relative;
	display: flex;

	.weapon-text {
		text-align: end;
		font-size: 14px;
		padding: 2px 5px 0 50px;
	}
	.weapon-avantage {
		text-align: end;
		font-size: 12px;
		padding: 2px 5px 0 90px;
	}
}
.container-info-accessory {
	margin-top: 15px;
	position: relative;
	display: flex;
	align-items: center;

	.accessory-text {
		text-align: end;
		font-size: 14px;
		padding: 2px 5px 0 40px;
	}
	.accessory-avantage {
		text-align: end;
		font-size: 12px;
		padding: 2px 5px 0 40px;
	}
	.accessory-temp {
		text-align: end;
		font-size: 12px;
		padding: 2px 5px 0 40px;
	}
}
.cercle-accessory {
	width: 33%;
	position: relative;
	flex-shrink: 0;
}
.container-info-name-accessory {
	margin-left: -43px;
	width: calc(100% + 43px);
}
.container-info-name-weapon {
	margin-left: -92px;
	width: calc(100% + 92px);
}

.background-cercle-anneau {
	background-image: url($path-image+"fond.png");
	background-size: cover;
	border-radius: 50%;
	height: 100%;
	img {
		height: 100%;
	}
}

////////// all players ////////////
.player {
	width: 41%;
	margin-bottom: 5px;
	margin-top: 35px;
}
.all-player-weapon {
	position: absolute;
	width: 30%;
	height: 30%;
	bottom: 0;
	right: 0;
}
.all-player-accessory {
	position: absolute;
	width: 30%;
	height: 30%;
	bottom: 0;
	left: 0;
}
.container-info-players-vie {
	position: absolute;
	top: 0;
	left: 15px;
	#triangle-1 {
		width: 0;
		height: 0;
		border-left: 18px solid transparent;
		border-right: 18px solid transparent;
		border-bottom: 30px solid #723c10;
	}
	#triangle-2 {
		width: 0;
		height: 0;
		border-left: 18px solid transparent;
		border-right: 18px solid transparent;
		border-top: 30px solid #723c10;
	}
}
.info-players-vie {
	top: 18px;
	left: 25px;
	color: #fff;
	position: absolute;
	font-size: 15px;
	z-index: 10;
}
.info-all-players {
	align-items: center;
	.info-player2-img-hero {
		padding: 12px;
	}
}
