$path-image: "../../public/images/worlds/";

#game,
#fight {
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	&.game-2 {
		background-image: url($path-image+"morian.jpg");
	}
	&.game-1 {
		background-image: url($path-image+"fangornn.jpg");
	}
	&.game-3 {
		background-image: url($path-image+"destin.jpg");
	}
	/// jeu solo ///
	&.game-4 {
		background-image: url($path-image+"gondolin.jpg");
	}
	&.game-5 {
		background-image: url($path-image+"silmaril.jpg");
	}
	&.game-6 {
		background-image: url($path-image+"destin.jpg");
	}
}

.world {
	padding: 0;
	margin: 0;
	height: 700px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.world1 {
	background-image: url($path-image+"fangorn.jpg");
}
.world2 {
	background-image: url($path-image+"moria.jpg");
}
.world3 {
	background-image: url($path-image+"destin.jpg");
}
.quete1 {
	background-image: url($path-image+"gondolin.jpg");
}
.quete2 {
	background-image: url($path-image+"silmaril.jpg");
}
.quete3 {
	background-image: url($path-image+"destin.jpg");
}
.world-legend {
	background-color: #00000085;
	padding: 20px;
	position: absolute;
	right: 15%;
	bottom: 20px;
	left: 15%;
	z-index: 10;
	color: #fff;
	text-align: center;
}
.world1-background {
	background-image: url($path-image+"fangorn.jpg");
	background-size: cover;
	background-position: center;
	.case {
		border-left: solid 0.5px #cdd4e6;
		border-bottom: solid 0.5px #cdd4e6;
	}
	.line {
		background-color: #4f5c5354;
	}
}
.world1-grid {
	//background-image: url($path-image+"worlds/amazonie_obs.jpg");
	background-color: #4f5d53;
}

.world2-background {
	background-image: url($path-image+"moria.jpg");
	background-size: cover;
	background-position: center;
	.case {
		border-left: solid 0.5px #cdd4e6;
		border-bottom: solid 0.5px #cdd4e6;
	}
	.line {
		background-color: #00000070;
	}
}
.world2-grid {
	//background-image: url($path-image+"amazonie_obs.jpg");
	background-color: #fff;
}

.world3-background {
	background-image: url($path-image+"destin.jpg");
	background-size: cover;
	background-position: center;
	.case {
		border-left: solid 0.5px #cdd4e6;
		border-bottom: solid 0.5px #cdd4e6;
	}
	.line {
		background-color: #8a5c408a;
	}
}
.world3-grid {
	//background-image: url($path-image+"ocean_obs.png");
	background-color: #332318;
}

////// background pour jeu solo
.world4-background {
	background-image: url($path-image+"gondolin.jpg");
	background-size: cover;
	background-position: center;
	.case {
		border-left: solid 0.5px #cdd4e6;
		border-bottom: solid 0.5px #cdd4e6;
	}
	.line {
		background-color: #8478718a;
	}
}
.world4-grid {
	background-color: #414956;
}

.world5-background {
	background-image: url($path-image+"silmaril.jpg");
	background-size: cover;
	background-position: center;
	.case {
		border-left: solid 0.5px #cdd4e6;
		border-bottom: solid 0.5px #cdd4e6;
	}
	.line {
		background-color: #00000070;
	}
}
.world5-grid {
	background-color: #979db1;
}

.world6-background {
	background-image: url($path-image+"destin.jpg");
	background-size: cover;
	background-position: center;
	.case {
		border-left: solid 0.5px #cdd4e6;
		border-bottom: solid 0.5px #cdd4e6;
	}
	.line {
		background-color: #8a5c408a;
	}
}
.world6-grid {
	background-color: #332318;
}
.world6-nocell {
	background-image: url($path-image+"lave.gif");
}
.Gate6-grid {
	background-image: url($path-image+"porte-destin.png");
}
.Gate6-grid-aigle {
	background-image: url($path-image+"porte-aigle.png");
}
