@import "bootstrap";
@import "_univers.scss";
@import "_players.scss";
@import "_modal.scss";
@import "_fight.scss";

$body-color: red;
$path-image: "../../public/images/";
$background-hero1: #bda88d;
$background-hero2: #8d9082;
$background-hero3: #e39944;
$background-hero4: #a69486;
$background-hero5: #788898;
$background-hero6: #434343;

@font-face {
	font-family: "tolkien";
	src: url("../../public/tolkien.TTF");
}
///////général//////
.icon-info-accessory {
	right: 2px;
	position: absolute;
	bottom: 3px;
	width: 20px;
	height: 18px;
	background-image: url($path-image+"accessories/info.png");
	background-size: contain;
	z-index: 10;
}
.navbar-light {
	border-bottom: solid 1px #9c9999;
	&.navbar .navbar-nav .nav-item .nav-link:hover {
		color: #9c9999;
	}
	.navbar-brand:hover {
		color: #9c9999;
	}
}
.header {
	background-image: url($path-image+"gondolin.jpg");
	background-position: center;
	background-size: contain;
}
.navbar .navbar-nav .nav-item .nav-link,
.navbar .navbar-brand {
	color: #fff;
	cursor: pointer;
}
.tolkien {
	font-family: "tolkien";
}
.titre {
	padding: 40px;
	font-family: "tolkien";
}
.bold {
	font-weight: 700;
}
.text-blanc {
	color: #fff;
}
h2 {
	font-size: 18px;
}
.container-fluid {
	padding: 0;
}
.height-100 {
	height: 100%;
}
///////// autres pages ///////////
.regles-img-hero {
	width: 20%;
}
//////// index.html ///////////
.titre-shadow {
	text-shadow: 3px 4px 5px black;
}
.selected-border {
	border: solid 3px #a01515;
}
.selected-background {
	background-color: #a01515;
	color: #fff;
}
.btn-selected {
	background-color: greenyellow;
}

///////// player ///////////////
.legend-hero {
	color: #fff;
}
.btn-hero {
	margin-bottom: 80px;
}
.carousel-inner {
	max-height: 448px;
}
.container-all-heroes {
	background-color: black;
}
.label-nbPlayer {
	margin-bottom: 0;
	width: 100px;
	height: 71px;
	background-size: cover;
}
.nbPlayer2 {
	background-image: url($path-image+"players/2joueurs.png");
}
.nbPlayer3 {
	background-image: url($path-image+"players/3joueurs.png");
}
.nbPlayer4 {
	background-image: url($path-image+"players/4joueurs.png");
}
.select-nb-player {
	width: 30%;
}
.container-choix-nbPlayer {
	justify-content: space-around;
}
.label-player {
	margin-bottom: 0;
	width: 100px;
	height: 60px;
	background-size: cover;
}
.checkbox {
	align-items: center;
}
//pas utilisé
.player1 {
	background-image: url($path-image+"players/img/hero1.jpg");
}
.player2 {
	background-image: url($path-image+"players/img/hero2.jpg");
}
.player3 {
	background-image: url($path-image+"players/img/hero3.jpg");
}
.player4 {
	background-image: url($path-image+"players/img/hero4.jpg");
}
.player5 {
	background-image: url($path-image+"players/img/hero5.jpg");
}
.player6 {
	background-image: url($path-image+"players/img/hero6.jpg");
}
.player7 {
	background-image: url($path-image+"players/img/hero7.jpg");
}
.img-object-grid {
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	width: 99%;
	height: 99%;
	background-position: center;
	z-index: 1;
}
.hero1-grid {
	background-image: url($path-image+"players/grid/player1figure.png");
}
.hero2-grid {
	background-image: url($path-image+"players/grid/player2figure.png");
}
.hero3-grid {
	background-image: url($path-image+"players/grid/player3figure.png");
}
.hero4-grid {
	background-image: url($path-image+"players/grid/player4figure.png");
}
.hero5-grid {
	background-image: url($path-image+"players/grid/player5figure.png");
}
.hero6-grid {
	background-image: url($path-image+"players/grid/player6figure.png");
}
.hero7-grid {
	background-image: url($path-image+"players/grid/player7figure.png"); // golum
}
.hero8-grid {
	background-image: url($path-image+"players/grid/player8figure.png"); // orcs
}
.hero9-grid {
	background-image: url($path-image+"players/grid/player9figure.png"); // Melko
}
:checked + label {
	border: solid 2px #a01515;
	box-shadow: -1px 0 5px 0px #654442;
}
.btn-start-game {
	background-color: #a01515;
	color: #fff;
}
///////// nombre de player //////
.select-nb-player {
	width: 30%;
	align-items: center;
}
/////////////le jeu/////////////
.movable-true {
	background-color: #f5f5dc6b;
}
.line {
	display: flex;
	flex-direction: row;
}
.case {
	border-left: solid 0.5px #5f4a4a;
	border-bottom: solid 0.5px #5f4a4a;
	position: relative;
}
.grass {
	background-color: rgb(7, 216, 7);
}
.salt-desert {
	background-color: gray;
}
.ice {
	background-color: blue;
}
.tree {
	background-color: green;
}
//////// armes et accessoires /////////////
.epee {
	background-image: url($path-image+"accessories/epee.png");
}
.cotte {
	background-image: url($path-image+"accessories/cotte.png");
}
.bouclier {
	background-image: url($path-image+"accessories/bouclier.png");
}
.heaume {
	background-image: url($path-image+"accessories/heaume.png");
}
.epee {
	background-image: url($path-image+"accessories/epee.png");
}
.cailloux {
	background-image: url($path-image+"accessories/nenya.png");
}
.nenya {
	background-image: url($path-image+"accessories/nenya.png");
}
.dard {
	background-image: url($path-image+"accessories/dard.png");
}
.narsil {
	background-image: url($path-image+"accessories/narsil.png");
}
.hache {
	background-image: url($path-image+"accessories/hache.png");
}
.dague-etincelante {
	background-image: url($path-image+"accessories/dague-etincelante.png");
}
.potion_strength {
	background-image: url($path-image+"accessories/potion_strength.png");
}
.potion_life {
	background-image: url($path-image+"accessories/potion_life.png");
}
.potion_healfy {
	background-image: url($path-image+"accessories/potion_healfy.png");
}
.mitril {
	background-image: url($path-image+"accessories/mitril.png");
}
.hat {
	background-image: url($path-image+"accessories/hat.png");
}
.armor {
	background-image: url($path-image+"accessories/armor.png");
}
.cotte_maille {
	background-image: url($path-image+"accessories/cotte2.png");
}
.container-accessories {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
}
.img-accessory-grid {
	margin: 2px;
	background-color: #fff;
	width: 20px;
	height: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 2px;
}
