@import "bootstrap";
@import "univers.scss";
@import "players.scss";

$body-color: red;
$path-image: "../../public/images/";
$background-hero1: #bda88d;
$background-hero2: #8d9082;
$background-hero3: #e39944;
$background-hero4: #a69486;
$background-hero5: #788898;
$background-hero6: #434343;

///////général//////
.titre {
	padding: 40px;
}
.titre-shadow {
	text-shadow: 3px 4px 5px black;
}
.text-blanc {
	color: #fff;
}
h2 {
	font-size: 18px;
}
.container-fluid {
	padding: 0;
}
.selected-border {
	border: solid 3px #a01515;
}
.selected-background {
	background-color: #a01515;
	color: #fff;
}
.btn-selected {
	background-color: greenyellow;
}
.header {
	background-image: url($path-image+"gondolin.jpg");
	background-position: center;
	background-size: contain;
}
.navbar .navbar-nav .nav-item .nav-link,
.navbar .navbar-brand {
	color: #fff;
	cursor: pointer;
}
/////////player ///////////////
.legend-hero {
	color: #fff;
}
.btn-hero {
	margin-bottom: 80px;
}
.carousel-inner {
	max-height: 448px;
}
.container-all-heroes {
	background-color: black;
	padding-top: 30px;
}
.label-nbPlayer {
	margin-bottom: 0;
	width: 100px;
	height: 71px;
	background-size: cover;
}
.nbPlayer2 {
	background-image: url($path-image+"players/2joueurs.png");
}
.nbPlayer3 {
	background-image: url($path-image+"players/3joueurs.png");
}
.nbPlayer4 {
	background-image: url($path-image+"players/4joueurs.png");
}
.select-nb-player {
	width: 30%;
}
.container-choix-nbPlayer {
	justify-content: space-around;
}
.label-player {
	margin-bottom: 0;
	width: 100px;
	height: 60px;
	background-size: cover;
}
.checkbox {
	align-items: center;
}
//pas utilisé
.player1 {
	background-image: url($path-image+"players/img/hero1.jpg");
}
.player2 {
	background-image: url($path-image+"players/img/hero2.jpg");
}
.player3 {
	background-image: url($path-image+"players/img/hero3.jpg");
}
.player4 {
	background-image: url($path-image+"players/img/hero4.jpg");
}
.player5 {
	background-image: url($path-image+"players/img/hero5.jpg");
}
.player6 {
	background-image: url($path-image+"players/img/hero6.jpg");
}
.img-object-grid {
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-position: center;
}
.hero1-grid {
	background-image: url($path-image+"players/grid/player1figure.png");
}
.hero2-grid {
	background-image: url($path-image+"players/grid/player2figure.png");
}
.hero3-grid {
	background-image: url($path-image+"players/grid/player3figure.png");
}
.hero4-grid {
	background-image: url($path-image+"players/grid/player4figure.png");
}
.hero5-grid {
	background-image: url($path-image+"players/grid/player5figure.png");
}
.hero6-grid {
	background-image: url($path-image+"players/grid/player6figure.png");
}
:checked + label {
	border: solid 2px #a01515;
	box-shadow: -1px 0 5px 0px #654442;
}
.checkbox-player {
	position: relative;
	display: inline-block;
}

.checkbox-player .tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 50%;
	left: 110%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

/* .checkbox-player .tooltiptext::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
} */

.checkbox-player:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
.btn-start-game {
	background-color: #a01515;
	color: #fff;
}
///////// nombre de player //////
.select-nb-player {
	width: 30%;
	align-items: center;
}
/////////////le jeu/////////////
.movable-true {
	background-color: #f5f5dc6b;
}
.line {
	display: flex;
	flex-direction: row;
}
.case {
	border-left: solid 0.5px #5f4a4a;
	border-bottom: solid 0.5px #5f4a4a;
	position: relative;
}
.grass {
	background-color: rgb(7, 216, 7);
}
.salt-desert {
	background-color: gray;
}
.ice {
	background-color: blue;
}
.tree {
	background-color: green;
}
//////// armes et accessoires /////////////

.nenya {
	background-image: url($path-image+"accessories/nenya.png");
}
.dard {
	background-image: url($path-image+"accessories/dard.png");
}
.narsil {
	background-image: url($path-image+"accessories/narsil.png");
}
.hache {
	background-image: url($path-image+"accessories/hache.png");
}
.dague-etincelante {
	background-image: url($path-image+"accessories/dague-etincelante.png");
}
.potion_strength {
	background-image: url($path-image+"accessories/potion_strength.png");
}
.potion_life {
	background-image: url($path-image+"accessories/potion_life.png");
}
.potion_healfy {
	background-image: url($path-image+"accessories/potion_healfy.png");
}
.img-accessory-grid {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 2px;
	background-color: #fff;
	width: 20px;
	height: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 2px;
}
